* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px
}

#titolo{
    font-size: 40px;
    font-weight: 900;
}
#grigino, #data{
    color: lightgray;
}
#descrizionefoto{
    font-size: 0.6em;
}
#linkboolean{
    color:#4ea0ff
}
#data{
  font-size: 0.8em;
}

#sezionelorem{
    margin-top: 30px;
    margin-bottom: 30px;
}
#rigahead{
    background-color: #20a9e5;
    color: white;
}
.uno-tre{
    background-color:#b1e5f2 ;
}
.venti{
    width: 25%;
}
 #ultimolorem{
    margin-top: 20px;
    margin-bottom: 30px;
 }